
<%= form_for @voter do |f| %>
	<% if @voter.errors.any? %>
	  <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
      </h2>
		<%= @voter.errors.full_messages.each do |msg| %>
		<p><%= msg %></p>
		<% end %>
	<% end %>
	<p>
		<%= f.label :nombre %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :apellido %>
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label :nacimiento %>
		<%= f.text_field :birth %>
	</p>
	<p>
		<%= f.label :cedula %>
		<%= f.text_field :cedula %>
	</p>
		<%= f.submit 'Crear' %>
<% end %>